@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  background-color: #2b2b2b;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

header {
  padding: 20px 50px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-text {
  margin-top: 6px;
}

.btn-sign-up {
  display: flex;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  color: #fff;
  background: #a259ff;
}

.image {
  display: flex;
  align-self: stretch;
}

h2 {
  font-family: Work Sans;
  font-size: 51px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 56.1px */
  text-transform: capitalize;
}

p {
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}

.conteiner {
  display: flex;
  gap: 60px
}

.create-account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

label {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 20px;
  border: 1px solid var(--caption-label-text, #858584);
  background: var(--text, #FFF);
  width: 330px;
  height: 46px;
  padding-left: 52;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
  color: #2b2b2b;
}

.user-svg {
  color: Gray 4;
}

@media screen and (max-widht: 1024) {
  
}